body{
    background: #fdf6ed;
    width: 100%;
}

#cont{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#logo{
    height: 100px;
    border-radius: 100px;
    width: 100px;
}

.formulario{
    width: 50%;
    margin: 25px auto;
}

.display-5{
    text-align: center;
    margin-bottom: 50px;
    font-family: "Agency FB";
}

#btnEntrar{
    margin-top: 20px;
    transition: all 0.5s;
}
#btnEntrar:hover{
    box-shadow: 1px 1px 20px 2px gold;
    transition: all 0.5s;
}

#i{
    color: white;
    font-family: cursive;
}
#ntranet{
    color: orange;
}
